%link{rel: "apple-touch-icon-precomposed", sizes: "152x152",  href: "/images/favicon/favicon-152.png" }
%link{rel: "apple-touch-icon-precomposed", sizes: "144x144",  href: "/images/favicon/favicon-144.png" }
%link{rel: "apple-touch-icon-precomposed", sizes: "120x120",  href: "/images/favicon/favicon-120.png" }
%link{rel: "apple-touch-icon-precomposed", sizes: "114x114",  href: "/images/favicon/favicon-114.png" }
%link{rel: "apple-touch-icon-precomposed", sizes: "72x72",    href: "/images/favicon/favicon-72.png" } 
%link{rel: "icon",                         sizes: "128x128",  href: "/images/favicon/favicon.png", }